body {
    position: absolute;
    width: 100%;
    margin: 0;
}

.bg {

}

.fg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.fg .e-title {
    display: inline-block;
    position: relative;
    margin: 3rem 0;
}
.fg .e-title >*:last-child {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.fg .e-more {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.fg .e-more img {
    width: 120px;
}


