body {
    position: absolute;
    width: 100%;
    margin: 0;
}

.e-title {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    color: #ddd;
}
.e-title >div {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}